{% extends 'layout/layout.html' %}


{% block body %}

    <div class="WB_frame">
        <div class="WB_frame_a">
            <div id="Pl_Official_Headerv6__1">
                <div class="PCD_header">
                    <div class="pf_wrap">
                        <div class="cover_wrap banner_  transition">
                            <div class="shadow">
                                <!--头像显示-->
                                <div class="portrait">
                                    <p class="portrait_wrap">
                                        <a href="javascript:void(0);" action-type="setPhoto" title="更换头像"
                                           suda-uatrack="key=profile_head&amp;value=head_host">
                                            <img src="/statics/img/img.jpg">
                                        </a>
                                    </p>
                                </div>
                                <!--昵称显示-->
                                <div class="pf_username">
                                    <h1 style="font-size: 22px;display: inline-block;font-weight: normal;">起来了皮</h1>
                                    <span class="icon_bed">
                                        <a><i class="icon_img icon_pf_female  icon_pf_male"></i></a>
                                    </span><a title="微博会员"><em class=" icon_img icon_member1"></em></a>
                                </div>
                                <div class="pf_intro">
                                    <div class="pf_intro" title="96的小伙，爱笑爱闹，爱鼓捣！">
						96的小伙，爱笑爱闹，爱鼓捣！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Pl_Official_Nav__2">
                <div class="PCD_tab S_bg2">
                    <table class="tab_1">
                        <tbody>
                            <tr>
                                <td class="tab_one">
                                    <a class="tab_link">
                                        <span class="t_link S_txt1">我的主页</span>
                                        <span class="ani_border"></span>
                                    </a>
                                </td>
                                <td class=" ">
                                    <a class="tab_link">
                                        <span class="t_link S_txt1">我的相册</span>
                                        <span class="ani_border"></span>
                                    </a>
                                </td>
                                <td class=" ">
                                    <a class="tab_link">
                                        <span class="t_link S_txt1">管理空间</span>
                                        <span class="ani_border"></span>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



<div class="my_main">
        <div class="main_lift ">
            <div class="main_lift_gfw btn-group">
                <div class="WB_cardwrap S_bg2">
                    <div class="wfg_counter">
                        <div class="wfg_innerwrap">
                            <table style="display: table-row-group;vertical-align: middle;border-color: inherit;">
                                <tr>
                                    <td>
                                        <a>
                                            <strong style="font-size: 18px;">87</strong>
                                            <span class="S_txt2">关注</span>
                                        </a>
                                    </td>
                                    <td class="S_line1">
                                        <a>
                                            <strong style="font-size: 18px;">1</strong>
                                            <span class="S_txt2">粉丝</span>
                                        </a>
                                    </td>
                                    <td class="S_line1">
                                        <a>
                                            <strong style="font-size: 18px;">3</strong>
                                            <span class="S_txt2">微博</span>
                                        </a>
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>

                <div class="my_apply">
                    <div class="my_apply_one">
                        <a>申请认证</a>
                        <p class="my_apply_one_vip">
                            <span>vip1</span>
                        </p>
                    </div>
                    <div class="my_apply_tow">
                        <div style="margin-top: -5px">
                            <p style="font-size: 8px">个人资料完整度
                                <span style="font-size: 20px;font-style: italic;font-weight: bold;">10%</span>
                            </p>
                            <div class="my_apply_one_schedule S_bg2">
                                <div class="my_apply_one_bar" style=";width: 10%"></div>
                            </div>
                        </div>
                    </div>
                    <a class="WB_cardmore S_txt1 S_line1 clearfix">
                        <span class="more_txt">编辑个人资料&nbsp;<em class="W_ficon ficon_arrow_right S_ficon"> > </em></span>
                    </a>
                </div>

                <div class="my_photo">
                    <div class="my_photo_one">
                        <div class="my_photo_one_one">
                            <a style="color: #0f0f0f"> 相册</a>
                        </div>
                    </div>
                    <div class="my_photo_tow">
                        <div class="my_photo_left">
                            <ul>
                                <li class="my_photo_left_pic">
                                    <a>
                                        <img src="/statics/img/img.jpg/" style="width: 190px;height: 190px">
                                    </a>
                                </li>
                                <li>
                                    <img src="/statics/img/img.jpg/" style="width: 92px;height: 92px">
                                </li>
                                <li>
                                    <img src="/statics/img/img.jpg/" style="width: 92px;height: 92px">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my_photo_three">
                        <a>查看更多
                            <span style="font-family:wbficonregular !important"> > </span>
                        </a>
                    </div>
                </div>

                <div class="my_laud">
                    <div class="my_laud_one">
                        <div class="my_laud_one_one">
                            <a style="color: #0f0f0f"> 赞</a>
                        </div>
                    </div>
                    <div style="padding: 6px">
                        <div style="margin-top: -6px">
                            <div style="margin-top: 6px">
                                <div class="my_laud__tow">
                                    <a>
                                        <img src="/statics/img/img.jpg/" style="width: 92px;height: 92px">
                                    </a>
                                    <div class="my_laud__tow_case S_bg1">
                                        <div style="padding: 6px 8px;">
                                            <div class="my_laud__tow_case_title">
                                                <a>标题 sir</a>
                                            </div>
                                            <div class="my_laud__tow_case_text">
                                                <a>内容：在不特别的时间遇到特别的人 大概就是最幸福的事了吧💫</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="my_laud__tow_case_frame">
                        <a>
                            查看更多
                            <span style="font-family: wbficonregular !important;"> > </span>
                        </a>
                    </div>
                </div>

                <div class="my_fans">
                    <div class="my_laud_one">
                        <div class="my_laud_one_one">
                            <a style="color: #0f0f0f"> 我的微博人气</a>
                        </div>
                    </div>
                    <div class="my_fans_one">
                        <div class="my_fans_tow">
                            <a>稍后更新你的数据</a>
                        </div>
                    </div>
                </div>
                <p>s</p>

            </div>
        </div>

        <div class="main_right">
            <div class="main_right_gfw">
                <div class="main_right_top">
                    <ul>
                        <li>
                            <a class="main_right_top_left">全部</a>
                        </li>
                        <a class="dropdown">
                            <span  class="main_right_top_centre" id="dLabel" type="button" data-toggle="dropdown">
                                更多
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu main_right_top_menu" role="menu" aria-labelledby="dLabel">
                                <li>原创</li>
                                <li>视频</li>
                                <li>音乐</li>
                                <li>图片</li>
                                <li>文章</li>
                                <li>标签</li>
                                <li>查看权限</li>
                                <li>定时微博</li>
                            </ul>

                        </a>
                    </ul>
                    <div class="main_right_top_right">
                        <div class="main_right_top_right_form">
                            <form class="main_right_top_right_box">
                                <input class="main_right_top_right_input" type="text" value="搜索我的微博...">
                                <a class="main_right_top_right_icon">
                                    <span class="main_right_top_right_icon_img"></span>
                                    <span class="main_right_top_right_icon_menu"></span>
                                </a>


                            </form>
                        </div>
                    </div>
                </div>
            </div>

           <!-- 右侧 主体-->
            <div class="main_center">
                <div class="main_enter_one">
                    <div class="main_enter_one_top"></div>
                    <div class="main_center_one_one">
                        <div class="main_center_one_one_lift">
                            <a>
                                <img src="/statics/img/img.jpg">
                            </a>
                        </div>
                        <div class="main_center_one_one_name">
                            <a>起来乐皮</a>
                            <span class="main_center_one_one_vip"></span>
                        </div>
                        <div class="main_center_one_one_from S_txt2">
                            <a>1月1日 18:18</a>
                            来自
                            <a>Google 浏览器</a>
                        </div>
                        <div class="main_center_one_one_center">
                            重中之重
                        </div>
                    </div>
                    <div class="main_center_one_tow">
                        <ul>
                           <li>
                               <a>
                                   <span>阅读  10  推广</span>
                               </a>
                           </li>
                           <li>
                               <a>
                                   <span>转发</span>
                               </a>
                           </li>
                           <li>
                               <a>
                                   <span>评论</span>
                               </a>
                           </li>
                            <li>
                                <a>
                                   <span>赞</span>
                               </a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main_center">
                <div class="main_enter_one">
                    <div class="main_enter_one_top"></div>
                    <div class="main_center_one_one">
                        <div class="main_center_one_one_lift">
                            <a>
                                <img src="/statics/img/img.jpg">
                            </a>
                        </div>
                        <div class="main_center_one_one_name">
                            <a>起来乐皮</a>
                            <span class="main_center_one_one_vip"></span>
                        </div>
                        <div class="main_center_one_one_from S_txt2">
                            <a>1月1日 18:18</a>
                            来自
                            <a>Google 浏览器</a>
                        </div>
                        <div class="main_center_one_one_center">
                            重中之重
                        </div>
                    </div>
                    <div class="main_center_one_center">

                        <div class="main_center_one_center_one">
                        <div class="main_center_one_center_tow">
                            <ul>
                                <li class="main_center_one_center_pic">
                                    <a>
                                        <img src="/statics/img/img.jpg/" style="width: 192px;height: 192px">
                                    </a>
                                </li>
                                <li>
                                    <img src="/statics/img/img.jpg/" style="width: 192px;height: 192px">
                                </li>
                                <li>
                                    <img src="/statics/img/img.jpg/" style="width: 192px;height: 192px">
                                </li>
                            </ul>
                        </div>
                    </div>


                    </div>
                    <div class="main_center_one_tow">
                        <ul>
                           <li>
                               <a>
                                   <span>阅读  10  推广</span>
                               </a>
                           </li>
                           <li>
                               <a>
                                   <span>转发</span>
                               </a>
                           </li>
                           <li>
                               <a>
                                   <span>评论</span>
                               </a>
                           </li>
                            <li>
                                <a>
                                   <span>赞</span>
                               </a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </div>



    </div>





{% endblock %}
