.WB_frame_a{
    width: 920px;
    margin-left: 20px;
}

.PCD_header {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.PCD_header .pf_wrap {
    position: absolute;
    width: 100%;
    height: 300px;
}
.PCD_header .cover_wrap {
    position: absolute;
    width: 100%;
    height: 300px;
    background-position: bottom center;
    background-repeat: no-repeat;
    -moz-transform: scaleX(1.05) scaleY(1.05);
    -webkit-transform: scaleX(1.05) scaleY(1.05);
    z-index: 1;
    background-image: url('http://img.t.sinajs.cn/t5/skin/public/profile_cover/001.jpg');
}
.PCD_header .banner_transition {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transition: -moz-transform 4s linear;
    -webkit-transition: -webkit-transform 4s linear;
}